<mat-grid-list cols="3" rowHeight="10:1">
  <mat-grid-tile></mat-grid-tile>
  <mat-grid-tile>
    <p>Please enter your credentials to get access to the guestbook</p>
  </mat-grid-tile>
  <mat-grid-tile></mat-grid-tile>
  <mat-grid-tile></mat-grid-tile>
  <mat-grid-tile>
    <mat-form-field>
      <input matInput [(ngModel)]="email" placeholder="Name" />
    </mat-form-field>
  </mat-grid-tile>
  <mat-grid-tile></mat-grid-tile>
  <mat-grid-tile></mat-grid-tile>
  <mat-grid-tile>
    <mat-form-field>
      <input
        matInput
        [(ngModel)]="password"
        type="password"
        placeholder="Password"
      />
    </mat-form-field>
  </mat-grid-tile>
  <mat-grid-tile></mat-grid-tile>
  <mat-grid-tile></mat-grid-tile>
  <mat-grid-tile>
    <button mat-raised-button color="primary" routerLink="/index">
      Start Page
    </button>
    <button
      style="margin-left: 5px;"
      mat-raised-button
      color="primary"
      routerLink="/index"
      (click)="login()"
    >
      Login
    </button>
  </mat-grid-tile>
</mat-grid-list>
