<mat-grid-list cols="3" *ngFor="let post of postService.posts" rowHeight="10:1">
  <mat-grid-tile></mat-grid-tile>
  <mat-grid-tile>
    <h3 style="margin-right: 5%;">{{ post.header }}</h3>
    <p style="margin-right: 5%;">{{ post.text }}</p>
  </mat-grid-tile>
  <mat-grid-tile></mat-grid-tile>
</mat-grid-list>
<mat-grid-list cols="3" rowHeight="10:1">
  <mat-grid-tile
    *ngIf="
      userService.sessionUser.role === student ||
      userService.sessionUser.role === admin
    "
  ></mat-grid-tile>
  <mat-grid-tile
    *ngIf="
      userService.sessionUser.role === student ||
      userService.sessionUser.role === admin
    "
  >
    <mat-form-field>
      <input matInput [(ngModel)]="title" type="text" placeholder="Title" />
    </mat-form-field>
  </mat-grid-tile>
  <mat-grid-tile
    *ngIf="
      userService.sessionUser.role === student ||
      userService.sessionUser.role === admin
    "
  ></mat-grid-tile>
  <mat-grid-tile
    *ngIf="
      userService.sessionUser.role === student ||
      userService.sessionUser.role === admin
    "
  ></mat-grid-tile>
  <mat-grid-tile
    *ngIf="
      userService.sessionUser.role === student ||
      userService.sessionUser.role === admin
    "
  >
    <mat-form-field>
      <input matInput [(ngModel)]="text" type="text" placeholder="Text" />
    </mat-form-field>
  </mat-grid-tile>
  <mat-grid-tile
    *ngIf="
      userService.sessionUser.role === student ||
      userService.sessionUser.role === admin
    "
  ></mat-grid-tile>
  <mat-grid-tile
    *ngIf="
      userService.sessionUser.role === student ||
      userService.sessionUser.role === admin
    "
  ></mat-grid-tile>
  <mat-grid-tile
    *ngIf="
      userService.sessionUser.role === student ||
      userService.sessionUser.role === admin
    "
  >
    <button mat-raised-button color="primary" (click)="sendPost()">
      Post
    </button>
  </mat-grid-tile>
  <mat-grid-tile
    *ngIf="
      userService.sessionUser.role === student ||
      userService.sessionUser.role === admin
    "
  ></mat-grid-tile>
  <mat-grid-tile></mat-grid-tile>
  <mat-grid-tile>
    <button mat-raised-button color="primary" routerLink="/index">
      Start Page
    </button>
  </mat-grid-tile>
</mat-grid-list>
