<mat-grid-list cols="3" rowHeight="10:1">
  <mat-grid-tile></mat-grid-tile>
  <mat-grid-tile
    ><h1 style="text-align: center;">
      Welcome to the BBW Guestbook
    </h1></mat-grid-tile
  >
  <mat-grid-tile></mat-grid-tile>
  <mat-grid-tile></mat-grid-tile>
  <mat-grid-tile>
    <button mat-raised-button color="primary" routerLink="/login">Login</button>
  </mat-grid-tile>
  <mat-grid-tile></mat-grid-tile>
  <mat-grid-tile></mat-grid-tile>
  <mat-grid-tile>
    <button mat-raised-button color="primary" routerLink="/register">
      Register
    </button>
  </mat-grid-tile>
  <mat-grid-tile></mat-grid-tile>
  <mat-grid-tile></mat-grid-tile>
  <mat-grid-tile>
    <button mat-raised-button color="primary" routerLink="/guestbook">
      Guestbook
    </button>
  </mat-grid-tile>
  <mat-grid-tile></mat-grid-tile>
  <mat-grid-tile></mat-grid-tile>
  <mat-grid-tile>
    <button mat-raised-button color="primary" routerLink="/logout">
      Logout
    </button>
  </mat-grid-tile>
</mat-grid-list>
